<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="controller" class="ma.cigma.pfe.presentation.ClientController">
        <property name="service" ref="service"/>
    </bean>
    <bean id="service" class="ma.cigma.pfe.service.ClientServiceImpl" >
        <property name="dao" ref="daoId"/>
    </bean>
    <bean id="daoId" class="ma.cigma.pfe.dao.ClientDaoImpl">
    </bean>
</beans>