<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="controller" class="ma.cigma.pfe.presentation.ClientController" scope="prototype">
        <property name="clientService" ref="service"/>
    </bean>
    <bean id="service" class="ma.cigma.pfe.service.ClientServiceImpl" scope="prototype">
        <property name="clientRepository" ref="repository"/>
    </bean>
    <bean id="repository" class="ma.cigma.pfe.repositories.ClientRepositoryImpl" scope="prototype">
    </bean>
    <bean id="client" class="ma.cigma.pfe.models.Client">
    </bean>
</beans>