<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
        "https://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <bean id="controller" class="ma.cigma.pfe.presentation.ClientController">
        <property name="service" ref="ServiceID"/>
    </bean>
    <bean id="ServiceID" class="ma.cigma.pfe.service.ClientServiceImpl">
        <property name="dao" ref="DaoID"/>
    </bean>
    <bean id="DaoID" class="ma.cigma.pfe.dao.ClientDaoImpl">
    </bean>
</beans>