<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Java Inspires</title>
</head>
<body>
<div align="center">
    <h1>Edit Form</h1>
    <form th:action="@{/add}" th:object="${client}" method="POST">
        <table>
            <tr>
                <td>Id</td>
                <td><input type="text" th:field="*{id}" name="Id" />
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}" name="Name" /></td>
            </tr>

        </table>
        <input type="submit" value="Update" />
    </form>
</div>
</body>
</html>